<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>

    <!-- Google Font -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap}"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/user/template/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/template/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/template/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/template/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/template/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/template/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/template/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/user/template/css/style.css}" type="text/css">
    <!--axios-->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js}"
            integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" th:href="@{/user/css/login.css}">
    <!--    font aweasome -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css}" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/vegetable-shopping/home"><img th:src="@{/user/template/img/logo.png}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/vegetable-shopping/home">Home</a></li>
                        <li><a href="/vegetable-shopping/shop-grid">Shop</a></li>

                        <li><a href="/vegetable-shopping/blog">Blog</a></li>
                        <li><a href="/vegetable-shopping/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li class="user-menu">
                            <a href="#"><i class="fa fa-user"></i></a>
                            <div class="user-menu-content" id="userMenuContent">
                            </div>
                        </li>
                        <li><a href="/vegetable-shopping/shoping-cart"><i class="fa fa-shopping-bag"></i> <span
                            class="cart-count-item-span"></span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span class="cart-sum-price-span"></span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <input type="text" placeholder="What do you need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img th:src="@{/user/template/img/background_login.png}"
                     class="img-fluid" alt="Sample image" height="300px">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <h2 class="text-center mb-5" style="font-weight: bold">LOGIN</h2>
                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input id="user-username" type="text" class="form-control form-control-lg"
                               placeholder="Username" value=""/>
                    </div>
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input id="user-password" type="password" class="form-control form-control-lg"
                               placeholder="Password" value=""/>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
                            <label class="form-check-label" style="color: grey" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#" style="color: grey">Forgot password?</a>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button  id="login-normal" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem; width: 100%; background-color: #7fad39; border: 0">Login
                        </button>
                        <div class="divider d-flex align-items-center my-2">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg d-flex align-items-center justify-content-center" style="padding-left: 2.5rem; padding-right: 2.5rem; width: 100%">
                            <i class="fa-brands fa-google mr-3"></i>
                            <span>Login with google</span>
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger" style="color: #7fad39">Register</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/vegetable-shopping/home"><img src="../../static/user/template/img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello@colorlib.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                    <div class="footer__copyright__payment"><img src="../../static/user/template/img/payment-item.png"
                                                                 alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Js Plugins -->
<!--js Plugins-->
<script th:src="@{/user/template/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/user/template/js/bootstrap.min.js}"></script>
<script th:src="@{/user/template/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user/template/js/jquery-ui.min.js}"></script>
<script th:src="@{/user/template/js/jquery.slicknav.js}"></script>
<script th:src="@{/user/template/js/mixitup.min.js}"></script>
<script th:src="@{/user/template/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/template/js/main.js}"></script>
<!--CALL API-->
<script th:src="@{/user/js/login.js}"></script>
<script th:src="@{/user/js/cartItem.js}"></script>
<script th:src="@{/user/js/total.js}"></script>
<!--sweet alert-->
<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
</body>
</html>